*.o
*.lo
*.la
*.swp
*.swo
*.swn
*.o
*.lo
*.pyc
*.log
*.d
*.a
.deps/
.libs/
*.orig
*.pem
*.pfx
*.cert
.dirstamp
*.trs
.DS_Store
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
Makefile
Makefile.in
aclocal.m4
stamp-h1
#test/zisync/kernel/test_database
#test/zisync/kernel/test_transfer
ZiSync.db
src/zisync/kernel/transfer/transfer.pb.cc
src/zisync/kernel/transfer/transfer.pb.h
cscope.files
cscope.out
# Below are ignore for windows platform
Debug/
Release/
x64/Debug
x64/Release
Intermedia/
*.sdf
ipch/
*.suo
*_c.c
*_s.c
*_h.h
*_i.c
*_i.h
*_p.c
*.opensdf
*.aps
*.tlb
obj/
objchk_*/
objfre_*/
*.obj
*.swp
*.exe
*.msi
Log/
# End ignore for windows platform

src/zisync/kernel/proto/kernel.pb.cc
src/zisync/kernel/proto/kernel.pb.h
src/zisync/kernel/proto/verify.pb.cc
src/zisync/kernel/proto/verify.pb.h
#src/zisync/kernel/sync_list.cc
#src/zisync/kernel/sync_list.h
#src/zisync/kernel/test.cc
#src/zisync/kernel/transfer.h
#src/zisync/kernel/utils/cipher.cc
#src/zisync/kernel/utils/cipher.h
#src/zisync/kernel/utils/config.cc
#src/zisync/kernel/utils/config.h
#src/zisync/kernel/utils/zmq_utils.cc
#src/zisync/kernel/utils/zmq_utils.h
test/zisync/kernel/log/
test/zisync/kernel/test_utils
test/zisync/kernel/log/
src/zisync/kernel/transfer/transfer.pb.cc
src/zisync/kernel/transfer/transfer.pb.h
test/zisync/kernel/Log/
test/zisync/kernel/test_kernel
#test/zisync/kernel/Database/
test/zisync/kernel/test_transfer_proto
test/zisync/kernel/test_discover
tags
test-driver
test/zisync/kernel/test_daemon
test/zisync/kernel/test_pkcs12_cert
test/zisync/kernel/test_x509_cert
test/zisync/kernel/test_daemon
test/zisync/kernel/transfer/dest/
test/zisync/kernel/transfer/src/
AUTHORS
ChangLog
NEWS
test-driver
test_daemon
ChangeLog
test/zisync/kernel/test_create_file
test/zisync/kernel/test_server
test/zisync/kernel/core
test/zisync/kernel/test_data_store
test/zisync/kernel/test_idiscover
test/zisync/kernel/test_white_synclist
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.cc
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.h
test/zisync/kernel/test_report_ui_monitor
third-part/libevent-2.0.21-stable/
test/zisync/kernel/test_report_data_server
test/zisync/kernel/test_ui_event_server
cscope.in.out
cscope.po.out
out
src/zisync/kernel/database/content.cc.bk
src/zisync/kernel/database/content.h.bk
src/zisync/kernel/libevent/\\
test.i
test/zisync/kernel/ZiSync/
test/zisync/kernel/test_async
test/zisync/kernel/test_commondictionary
test/zisync/kernel/test_history
test/zisync/kernel/test_history_kernel
test/zisync/kernel/test_https.cc
test/zisync/kernel/test_libevent
test/zisync/kernel/test_mac_address
test/zisync/kernel/test_mac_address.cc
test/zisync/kernel/test_parse_http_header
test/zisync/kernel/test_remove_remote_file
test/zisync/kernel/test_sqlite
test/zisync/kernel/test_sqlite.cc
test/zisync/kernel/test_tar_reader
test/zisync/kernel/test_tar_writer
test/zisync/kernel/test_transfer_list
test/zisync/kernel/test_transfer_server
test/zisync/kernel/transfer/ca.crt
test/zisync/kernel/transfer/ca.key
test/zisync/kernel/core                                                              
test/zisync/kernel/transfer/ca.srl
test/zisync/kernel/test_data_store                                                   
test/zisync/kernel/transfer/server.crt
test/zisync/kernel/test_idiscover                                                    
test/zisync/kernel/transfer/server.csr
test/zisync/kernel/test_white_synclist                                               
test/zisync/kernel/transfer/server.key
test/zisync/kernel/transfer/ssl-plusync/
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.cc                           
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.h                            
test/zisync/kernel/test_report_ui_monitor                                            
third-part/sqlite-3.7.7/
third-part/libevent-2.0.21-stable/                                                   
third-part/zeromq-4.0.4/src/platform.hpp.in
third-part/zeromq-4.0.4/src/platform.hpp.in~
test/zisync/kernel/ca.crt
test/zisync/kernel/ca.der
test/zisync/kernel/test_cert
test/zisync/kernel/test_cert.cc
src/zisync/kernel/utils/perm.h
