*.o
*.lo
*.la
*.swp
*.swo
*.swn
*.o
*.lo
*.pyc
*.log
*.d
*.a
.deps/
.libs/
*.orig
*.pem
*.pfx
*.cert
.dirstamp
*.trs
.DS_Store
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
Makefile
Makefile.in
aclocal.m4
stamp-h1
third-part/build/
third-part/UnitTest++-1.4/TestUnitTest++
test/zisync/kernel/test_database
test/zisync/kernel/test_transfer
ZiSync.db
third-part/sqlite-3.7.7/sqlite.h
third-part/sqlite-3.7.7/sqlite.h.in
src/zisync/kernel/transfer/transfer.pb.cc
src/zisync/kernel/transfer/transfer.pb.h
cscope.files
cscope.out
third-part/libtar-1.2.16/libtar/libtar
Log/
third-part/zeromq-3.2.4/

# Below are ignore for windows platform
Debug/
Release/
x64/Debug
x64/Release
Intermedia/
*.sdf
ipch/
*.suo
*_c.c
*_s.c
*_h.h
*_i.c
*_i.h
*_p.c
*.opensdf
*.aps
*.tlb
obj/
objchk_*/
objfre_*/
*.obj
*.swp
*.exe
*.msi
# End ignore for windows platform

src/zisync/kernel/proto/kernel.pb.cc
src/zisync/kernel/proto/kernel.pb.h
src/zisync/kernel/proto/verify.pb.cc
src/zisync/kernel/proto/verify.pb.h
#src/zisync/kernel/sync_list.cc
#src/zisync/kernel/sync_list.h
#src/zisync/kernel/test.cc
#src/zisync/kernel/transfer.h
#src/zisync/kernel/utils/cipher.cc
#src/zisync/kernel/utils/cipher.h
#src/zisync/kernel/utils/config.cc
#src/zisync/kernel/utils/config.h
#src/zisync/kernel/utils/zmq_utils.cc
#src/zisync/kernel/utils/zmq_utils.h
third-part/glog-0.3.3/config.status
third-part/glog-0.3.3/demangle_unittest
third-part/glog-0.3.3/libglog.pc
third-part/glog-0.3.3/libtool
third-part/glog-0.3.3/logging_striptest0
third-part/glog-0.3.3/logging_striptest10
third-part/glog-0.3.3/logging_striptest2
third-part/glog-0.3.3/logging_unittest
third-part/glog-0.3.3/Makefile
third-part/glog-0.3.3/signalhandler_unittest
third-part/glog-0.3.3/src/config.h
third-part/glog-0.3.3/src/glog/logging.h
third-part/glog-0.3.3/src/glog/raw_logging.h
third-part/glog-0.3.3/src/glog/stl_logging.h
third-part/glog-0.3.3/src/glog/vlog_is_on.h
third-part/glog-0.3.3/src/stamp-h1
third-part/glog-0.3.3/stacktrace_unittest
third-part/glog-0.3.3/stl_logging_unittest
third-part/glog-0.3.3/symbolize_unittest
third-part/glog-0.3.3/utilities_unittest
third-part/protobuf-2.5.0/gtest/scripts/gtest-config
third-part/protobuf-2.5.0/protobuf-lite.pc
third-part/protobuf-2.5.0/protobuf.pc
third-part/protobuf-2.5.0/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_custom_options.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_custom_options.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_embed_optimize_for.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_embed_optimize_for.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_empty.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_empty.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import_lite.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import_lite.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import_public_lite.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import_public_lite.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import_public.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_import_public.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_lite_imports_nonlite.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_lite.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_lite.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_mset.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_mset.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_no_generic_services.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_no_generic_services.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest_optimize_for.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest_optimize_for.pb.h
third-part/protobuf-2.5.0/src/google/protobuf/unittest.pb.cc
third-part/protobuf-2.5.0/src/google/protobuf/unittest.pb.h
third-part/protobuf-2.5.0/src/protoc
third-part/protobuf-2.5.0/src/unittest_proto_middleman
third-part/gtest-1.7.0.zip
third-part/gtest-1.7.0/build/
third-part/gtest-1.7.0/fused-src/gtest/.deps/
third-part/gtest-1.7.0/lib/
third-part/gtest-1.7.0/samples/.deps/
third-part/gtest-1.7.0/samples/.dirstamp
third-part/gtest-1.7.0/samples/.libs/
third-part/gtest-1.7.0/samples/libsamples.la
third-part/gtest-1.7.0/scripts/gtest-config
third-part/gtest-1.7.0/src/.deps/
third-part/gtest-1.7.0/src/.dirstamp
third-part/gtest-1.7.0/test/.deps/
test/zisync/kernel/log/
test/zisync/kernel/test_utils
third-part/glog-0.3.3.tar.gz
third-part/protobuf-2.5.0.tar.bz2
third-part/zeromq-4.0.4/builds/redhat/zeromq.spec
third-part/zeromq-4.0.4/perf/inproc_lat
third-part/zeromq-4.0.4/perf/inproc_thr
third-part/zeromq-4.0.4/perf/local_lat
third-part/zeromq-4.0.4/perf/local_thr
third-part/zeromq-4.0.4/perf/remote_lat
third-part/zeromq-4.0.4/perf/remote_thr
third-part/zeromq-4.0.4/src/libzmq.pc
third-part/zeromq-4.0.4/src/platform.hpp
third-part/zeromq-4.0.4/tests/test_abstract_ipc
third-part/zeromq-4.0.4/tests/test_conflate
third-part/zeromq-4.0.4/tests/test_connect_resolve
third-part/zeromq-4.0.4/tests/test_ctx_destroy
third-part/zeromq-4.0.4/tests/test_ctx_options
third-part/zeromq-4.0.4/tests/test_disconnect_inproc
third-part/zeromq-4.0.4/tests/test_fork
third-part/zeromq-4.0.4/tests/test_hwm
third-part/zeromq-4.0.4/tests/test_immediate
third-part/zeromq-4.0.4/tests/test_inproc_connect
third-part/zeromq-4.0.4/tests/test_invalid_rep
third-part/zeromq-4.0.4/tests/test_iov
third-part/zeromq-4.0.4/tests/test_issue_566
third-part/zeromq-4.0.4/tests/test_last_endpoint
third-part/zeromq-4.0.4/tests/test_many_sockets
third-part/zeromq-4.0.4/tests/test_monitor
third-part/zeromq-4.0.4/tests/test_msg_flags
third-part/zeromq-4.0.4/tests/test_pair_inproc
third-part/zeromq-4.0.4/tests/test_pair_ipc
third-part/zeromq-4.0.4/tests/test_pair_tcp
third-part/zeromq-4.0.4/tests/test_probe_router
third-part/zeromq-4.0.4/tests/test_req_correlate
third-part/zeromq-4.0.4/tests/test_req_relaxed
third-part/zeromq-4.0.4/tests/test_reqrep_device
third-part/zeromq-4.0.4/tests/test_reqrep_inproc
third-part/zeromq-4.0.4/tests/test_reqrep_ipc
third-part/zeromq-4.0.4/tests/test_reqrep_tcp
third-part/zeromq-4.0.4/tests/test_router_mandatory
third-part/zeromq-4.0.4/tests/test_router_raw_empty
third-part/zeromq-4.0.4/tests/test_security_curve
third-part/zeromq-4.0.4/tests/test_security_null
third-part/zeromq-4.0.4/tests/test_security_plain
third-part/zeromq-4.0.4/tests/test_shutdown_stress
third-part/zeromq-4.0.4/tests/test_spec_dealer
third-part/zeromq-4.0.4/tests/test_spec_pushpull
third-part/zeromq-4.0.4/tests/test_spec_rep
third-part/zeromq-4.0.4/tests/test_spec_req
third-part/zeromq-4.0.4/tests/test_spec_router
third-part/zeromq-4.0.4/tests/test_stream
third-part/zeromq-4.0.4/tests/test_sub_forward
third-part/zeromq-4.0.4/tests/test_system
third-part/zeromq-4.0.4/tests/test_term_endpoint
third-part/zeromq-4.0.4/tests/test_timeo
third-part/zeromq-4.0.4/tools/curve_keygen
third-part/openssl-1.0.1i/crypto/ui/lib
third-part/openssl-1.0.1i/crypto/whrlpool/lib
third-part/openssl-1.0.1i/crypto/whrlpool/wp-x86_64.s
third-part/openssl-1.0.1i/crypto/x509/lib
third-part/openssl-1.0.1i/crypto/x509v3/lib
third-part/openssl-1.0.1i/crypto/x86_64cpuid.s
third-part/openssl-1.0.1i/engines/ccgost/lib
third-part/openssl-1.0.1i/engines/lib
third-part/openssl-1.0.1i/libcrypto.pc
third-part/openssl-1.0.1i/libssl.pc
third-part/openssl-1.0.1i/openssl.pc
third-part/openssl-1.0.1i/rehash.time
third-part/openssl-1.0.1i/ssl/lib
third-part/openssl-1.0.1i/test/asn1test
third-part/openssl-1.0.1i/test/bftest
third-part/openssl-1.0.1i/test/bntest
third-part/openssl-1.0.1i/test/casttest
third-part/openssl-1.0.1i/test/destest
third-part/openssl-1.0.1i/test/dhtest
third-part/openssl-1.0.1i/test/dsatest
third-part/openssl-1.0.1i/test/dummytest
third-part/openssl-1.0.1i/test/ecdhtest
third-part/openssl-1.0.1i/test/ecdsatest
third-part/openssl-1.0.1i/test/ectest
third-part/openssl-1.0.1i/test/enginetest
third-part/openssl-1.0.1i/test/evp_test
third-part/openssl-1.0.1i/test/exptest
third-part/openssl-1.0.1i/test/heartbeat_test
third-part/openssl-1.0.1i/test/hmactest
third-part/openssl-1.0.1i/test/ideatest
third-part/openssl-1.0.1i/test/igetest
third-part/openssl-1.0.1i/test/jpaketest
third-part/openssl-1.0.1i/test/md2test
third-part/openssl-1.0.1i/test/md4test
third-part/openssl-1.0.1i/test/md5test
third-part/openssl-1.0.1i/test/mdc2test
third-part/openssl-1.0.1i/test/randtest
third-part/openssl-1.0.1i/test/rc2test
third-part/openssl-1.0.1i/test/rc4test
third-part/openssl-1.0.1i/test/rc5test
third-part/openssl-1.0.1i/test/rmdtest
third-part/openssl-1.0.1i/test/rsa_test
third-part/openssl-1.0.1i/test/sha1test
third-part/openssl-1.0.1i/test/sha256t
third-part/openssl-1.0.1i/test/sha512t
third-part/openssl-1.0.1i/test/shatest
third-part/openssl-1.0.1i/test/srptest
third-part/openssl-1.0.1i/test/ssltest
third-part/openssl-1.0.1i/test/wp_test
third-part/openssl-1.0.1i/tools/c_rehash.bak
third-part/protobuf-2.5.0.tar.bz2
third-part/zeromq-3.2.4.tar.gz
third-part/zeromq-4.0.4.tar.gz
third-part/openssl-1.0.1i/crypto/buffer/lib
third-part/openssl-1.0.1i/crypto/buildinf.h
third-part/openssl-1.0.1i/crypto/camellia/cmll-x86_64.s
third-part/openssl-1.0.1i/crypto/camellia/lib
third-part/openssl-1.0.1i/crypto/cast/lib
third-part/openssl-1.0.1i/crypto/cmac/lib
third-part/openssl-1.0.1i/crypto/cms/lib
third-part/openssl-1.0.1i/crypto/comp/lib
third-part/openssl-1.0.1i/crypto/conf/lib
third-part/openssl-1.0.1i/crypto/des/lib
third-part/openssl-1.0.1i/crypto/dh/lib
third-part/openssl-1.0.1i/crypto/dsa/lib
third-part/openssl-1.0.1i/crypto/dso/lib
third-part/openssl-1.0.1i/crypto/ec/lib
third-part/openssl-1.0.1i/crypto/ecdh/lib
third-part/openssl-1.0.1i/crypto/ecdsa/lib
third-part/openssl-1.0.1i/crypto/engine/lib
third-part/openssl-1.0.1i/crypto/err/lib
third-part/openssl-1.0.1i/crypto/evp/lib
third-part/openssl-1.0.1i/crypto/hmac/lib
third-part/openssl-1.0.1i/crypto/idea/lib
third-part/openssl-1.0.1i/crypto/krb5/lib
third-part/openssl-1.0.1i/crypto/lhash/lib
third-part/openssl-1.0.1i/crypto/lib
third-part/openssl-1.0.1i/crypto/md4/lib
third-part/openssl-1.0.1i/crypto/md5/lib
third-part/openssl-1.0.1i/crypto/md5/md5-x86_64.s
third-part/openssl-1.0.1i/crypto/mdc2/lib
third-part/openssl-1.0.1i/crypto/modes/ghash-x86_64.s
third-part/openssl-1.0.1i/crypto/modes/lib
third-part/openssl-1.0.1i/crypto/objects/lib
third-part/openssl-1.0.1i/crypto/ocsp/lib
third-part/openssl-1.0.1i/crypto/opensslconf.h.bak
third-part/openssl-1.0.1i/crypto/pem/lib
third-part/openssl-1.0.1i/crypto/pkcs12/lib
third-part/openssl-1.0.1i/crypto/pkcs7/lib
third-part/openssl-1.0.1i/crypto/pqueue/lib
third-part/openssl-1.0.1i/crypto/rand/lib
third-part/openssl-1.0.1i/crypto/rc2/lib
third-part/openssl-1.0.1i/crypto/rc4/lib
third-part/openssl-1.0.1i/crypto/rc4/rc4-md5-x86_64.s
third-part/openssl-1.0.1i/crypto/rc4/rc4-x86_64.s
third-part/openssl-1.0.1i/crypto/ripemd/lib
third-part/openssl-1.0.1i/crypto/rsa/lib
third-part/openssl-1.0.1i/crypto/seed/lib
third-part/openssl-1.0.1i/crypto/sha/lib
third-part/openssl-1.0.1i/crypto/sha/sha1-x86_64.s
third-part/openssl-1.0.1i/crypto/sha/sha256-x86_64.s
third-part/openssl-1.0.1i/crypto/sha/sha512-x86_64.s
third-part/openssl-1.0.1i/crypto/srp/lib
third-part/openssl-1.0.1i/crypto/stack/lib
third-part/openssl-1.0.1i/crypto/ts/lib
third-part/openssl-1.0.1i/crypto/txt_db/lib
Makefile.am.orig
configure.ac.orig
script/build_third_part.sh.orig
src/zisync/kernel/kernel.cc.orig
src/zisync/kernel/platform/platform.h.orig
src/zisync/kernel/transfer/transfer_server.cc.orig
src/zisync/kernel/transfer/transfer_server.h.orig
test/zisync/kernel/log/
third-part/glog-0.3.3.tar.gz
third-part/openssl-1.0.1i.tar.gz
third-part/openssl-1.0.1i/apps/CA.pl.bak
third-part/openssl-1.0.1i/apps/openssl
third-part/openssl-1.0.1i/certs/demo/3f77a2b5.0
third-part/openssl-1.0.1i/certs/demo/cbdbd8bc.0
third-part/openssl-1.0.1i/certs/demo/de4fa23b.0
third-part/openssl-1.0.1i/certs/demo/e83ef475.0
third-part/openssl-1.0.1i/crypto/aes/aes-x86_64.s
third-part/openssl-1.0.1i/crypto/aes/aesni-sha1-x86_64.s
third-part/openssl-1.0.1i/crypto/aes/aesni-x86_64.s
third-part/openssl-1.0.1i/crypto/aes/bsaes-x86_64.s
third-part/openssl-1.0.1i/crypto/aes/lib
third-part/openssl-1.0.1i/crypto/aes/vpaes-x86_64.s
third-part/openssl-1.0.1i/crypto/asn1/lib
third-part/openssl-1.0.1i/crypto/bf/lib
third-part/openssl-1.0.1i/crypto/bio/lib
third-part/openssl-1.0.1i/crypto/bn/lib
third-part/openssl-1.0.1i/crypto/bn/modexp512-x86_64.s
third-part/openssl-1.0.1i/crypto/bn/x86_64-gf2m.s
third-part/openssl-1.0.1i/crypto/bn/x86_64-mont.s
third-part/openssl-1.0.1i/crypto/bn/x86_64-mont5.s
src/zisync/kernel/transfer/transfer.pb.cc
src/zisync/kernel/transfer/transfer.pb.h
test/zisync/kernel/Log/
test/zisync/kernel/test_kernel
third-part/libtar-1.2.16/listhash/libtar_hash.c
third-part/libtar-1.2.16/listhash/libtar_hash_new.3
third-part/libtar-1.2.16/listhash/libtar_list.c
third-part/libtar-1.2.16/listhash/libtar_list_new.3
third-part/libtar-1.2.16/listhash/libtar_listhash.h
test/zisync/kernel/Database/
test/zisync/kernel/test_transfer_proto
third-part/libuuid-2.25.1-rc1/src/Makemodule.am
third-part/util-linux-2.25.1-rc1.tar.gz
third-part/util-linux-2.25.1-rc1/
third-part/protobuf-2.5.0/gtest/build-aux/test-driver
third-part/protobuf-2.5.0/test-driver
third-part/zeromq-4.0.4/config/test-driver
test/zisync/kernel/test_discover
tags
test-driver
test/zisync/kernel/test_daemon
test/zisync/kernel/test_pkcs12_cert
test/zisync/kernel/test_x509_cert
test/zisync/kernel/test_daemon
test/zisync/kernel/transfer/dest/
test/zisync/kernel/transfer/src/
third-part/libtar-1.2.16/INSTALL
third-part/openssl-1.0.1i/crypto/opensslconf.h
third-part/openssl-1.0.1i/tools/c_rehash
AUTHORS
ChangLog
NEWS
test-driver
test_daemon
third-part/openssl-1.0.1i/apps/CA.pl
third-part/openssl-1.0.1i/crypto/objects/obj_xref.h
third-part/protobuf-2.5.0/config.guess
third-part/protobuf-2.5.0/config.sub
third-part/protobuf-2.5.0/gtest/build-aux/config.guess
third-part/protobuf-2.5.0/gtest/build-aux/config.sub
third-part/protobuf-2.5.0/gtest/build-aux/ltmain.sh
third-pa/protobuf-2.5.0/gtest/m4/libtool.m4
third-part/protobuf-2.5.0/ltmain.sh
third-part/protobuf-2.5.0/m4/libtool.m4
ChangeLog
test/zisync/kernel/test_create_file
test/zisync/kernel/test_server
third-part/openssl-1.0.1i/crypto/aes/aes-586.s
third-part/openssl-1.0.1i/crypto/aes/aesni-x86.s
third-part/openssl-1.0.1i/crypto/aes/vpaes-x86.s
third-part/openssl-1.0.1i/crypto/bf/bf-586.s
third-part/openssl-1.0.1i/crypto/bn/bn-586.s
third-part/openssl-1.0.1i/crypto/bn/co-586.s
third-part/openssl-1.0.1i/crypto/bn/x86-gf2m.s
third-part/openssl-1.0.1i/crypto/bn/x86-mont.s
third-part/openssl-1.0.1i/crypto/camellia/cmll-x86.s
third-part/openssl-1.0.1i/crypto/cast/cast-586.s
third-part/openssl-1.0.1i/crypto/des/crypt586.s
third-part/openssl-1.0.1i/crypto/des/des-586.s
third-part/openssl-1.0.1i/crypto/md5/md5-586.s
third-part/openssl-1.0.1i/crypto/modes/ghash-x86.s
third-part/openssl-1.0.1i/crypto/rc4/rc4-586.s
third-part/openssl-1.0.1i/crypto/ripemd/rmd-586.s
third-part/openssl-1.0.1i/crypto/sha/sha1-586.s
third-part/openssl-1.0.1i/crypto/sha/sha256-586.s
third-part/openssl-1.0.1i/crypto/sha/sha512-586.s
third-part/openssl-1.0.1i/crypto/whrlpool/wp-mmx.s
third-part/openssl-1.0.1i/crypto/x86cpuid.s
test/zisync/kernel/core
test/zisync/kernel/test_data_store
test/zisync/kernel/test_idiscover
test/zisync/kernel/test_white_synclist
test/zisync/kernel/daemon
test/zisync/kernel/discover/
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.cc
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.h
test/zisync/kernel/test_report_ui_monitor
third-part/libevent-2.0.21-stable/
test/zisync/kernel/test_report_data_server
test/zisync/kernel/test_ui_event_server
cscope.in.out
cscope.po.out
out
src/zisync/kernel/database/content.cc.bk
src/zisync/kernel/database/content.h.bk
src/zisync/kernel/libevent/\\
third-part/openssl-1.0.1i/crypto/aes/aes-586.s                                       
third-part/openssl-1.0.1i/crypto/aes/aesni-x86.s                                     
test.i
third-part/openssl-1.0.1i/crypto/aes/vpaes-x86.s                                     
test/zisync/kernel/ZiSync/
third-part/openssl-1.0.1i/crypto/bf/bf-586.s                                         
test/zisync/kernel/test_async
third-part/openssl-1.0.1i/crypto/bn/bn-586.s                                         
test/zisync/kernel/test_commondictionary
third-part/openssl-1.0.1i/crypto/bn/co-586.s                                         
test/zisync/kernel/test_history
third-part/openssl-1.0.1i/crypto/bn/x86-gf2m.s                                       
test/zisync/kernel/test_history_kernel
third-part/openssl-1.0.1i/crypto/bn/x86-mont.s                                       
test/zisync/kernel/test_https.cc
third-part/openssl-1.0.1i/crypto/camellia/cmll-x86.s                                 
test/zisync/kernel/test_libevent
third-part/openssl-1.0.1i/crypto/cast/cast-586.s                                     
test/zisync/kernel/test_mac_address
third-part/openssl-1.0.1i/crypto/des/crypt586.s                                      
test/zisync/kernel/test_mac_address.cc
third-part/openssl-1.0.1i/crypto/des/des-586.s                                       
test/zisync/kernel/test_parse_http_header
third-part/openssl-1.0.1i/crypto/md5/md5-586.s                                       
test/zisync/kernel/test_remove_remote_file
third-part/openssl-1.0.1i/crypto/modes/ghash-x86.s                                   
test/zisync/kernel/test_sqlite
third-part/openssl-1.0.1i/crypto/rc4/rc4-586.s                                       
test/zisync/kernel/test_sqlite.cc
third-part/openssl-1.0.1i/crypto/ripemd/rmd-586.s                                    
test/zisync/kernel/test_tar_reader
third-part/openssl-1.0.1i/crypto/sha/sha1-586.s                                      
test/zisync/kernel/test_tar_writer
third-part/openssl-1.0.1i/crypto/sha/sha256-586.s                                    
test/zisync/kernel/test_transfer_list
third-part/openssl-1.0.1i/crypto/sha/sha512-586.s                                    
test/zisync/kernel/test_transfer_server
third-part/openssl-1.0.1i/crypto/whrlpool/wp-mmx.s                                   
test/zisync/kernel/transfer/ca.crt
third-part/openssl-1.0.1i/crypto/x86cpuid.s                                          
test/zisync/kernel/transfer/ca.key
test/zisync/kernel/core                                                              
test/zisync/kernel/transfer/ca.srl
test/zisync/kernel/test_data_store                                                   
test/zisync/kernel/transfer/server.crt
test/zisync/kernel/test_idiscover                                                    
test/zisync/kernel/transfer/server.csr
test/zisync/kernel/test_white_synclist                                               
test/zisync/kernel/transfer/server.key
test/zisync/kernel/daemon                                                            
test/zisync/kernel/transfer/ssl-plusync/
test/zisync/kernel/discover/                                                         
third-part/openssl-1.0.1i/Makefile.bak
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.cc                           
third-part/openssl-1.0.1i/cscope.in.out
src/zisync/kernel/monitor/fsevent_report_request_ios.pb.h                            
third-part/openssl-1.0.1i/cscope.po.out
test/zisync/kernel/test_report_ui_monitor                                            
third-part/sqlite-3.7.7/
third-part/libevent-2.0.21-stable/                                                   
third-part/zeromq-4.0.4/src/platform.hpp.in
third-part/zeromq-4.0.4/src/platform.hpp.in~
test/zisync/kernel/ca.crt
test/zisync/kernel/ca.der
test/zisync/kernel/test_cert
test/zisync/kernel/test_cert.cc
src/zisync/kernel/utils/perm.h
