!*
*.o
*.s
Makefile
Makefile.bak
engines/ccgost/lib
engines/lib
libcrypto.a
libcrypto.pc
libssl.a
libssl.pc
openssl.pc
rehash.time
ssl/lib
tools/c_rehash
*.swp
apps/CA.pl
apps/openssl
certs/demo/*
!certs/demo/*.pem
crypto/*
test/*
