!*
*.lo
*.o
Makefile
autoconf/compile
autoconf/config.guess
autoconf/config.sub
autoconf/install-sh
autoconf/libtool.m4
autoconf/ltmain.sh
autoconf/missing
autom4te.cache/
doc/Makefile
lib/.libs/
lib/Makefile
lib/libtar.la
libtar/Makefile
libtar/libtar
libtool
listhash/libtar_hash.c
listhash/libtar_hash_new.3
listhash/libtar_list.c
listhash/libtar_list_new.3
listhash/libtar_listhash.h
stamp-h1
